
<!DOCTYPE HTML>
<!--
    Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
    <head>
        <title>Matelook</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        
        
        
        <script src="static/slick/slick.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/skel-panels.min.js"></script>
        <script src="js/init.js"></script>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <link rel="stylesheet" href="static/css/skel-noscript.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/css/style.css" />
        <link rel="stylesheet" href="static/css/style-desktop.css" />
        <link rel="stylesheet" href="static/slick/slick.css" />
    </head>
    <body class="homepage">
<!-- Header -->
        <div id="header">
            <div id="nav-wrapper"> 
                <!-- Nav -->
                <form action="search" method="POST">
                <nav id="nav">
                    <ul>
                        <li class="active"><input type="text" name="matesearch" placeholder="Search Mates"></li>
                        <li><input type="submit" name="search" value="Search"></ins></li>

                    </ul>
                </nav>
                </form>
            </div>
        </div>
    <!-- Header --> 
        <!-- Main -->
        <div id="main">
            <div class="container">
                <div class="row">

                    <!-- Sidebar -->
                    <div id="sidebar" class="4u">
                        <section>
                            <header>
                                <h2>Hello {{name}}</h2>
                            </header>
                            <div class="row">
                                <section class="6u">
                                    <ul class="default">
                                        <div class="image-full" ><img src="static/{{image}}" height="200" width="200"><br></div>
                                        {{zid}}<br>
                                        <li>{{name}}<br></li>
                                        <li>{{birthday}}<br></li>
                                        <li>{{email}}<br></li>
                                        <li>{{program}}<br></li>
                                        <li>{{suburb}}<br></li>
                                    </ul>
                                <form action="logout" method="POST">
                                    <input type="submit" name="logout" value="Logout">
                                </form>
                                </section>
                            </div>
                        </section>
                        <section>
                            <header>
                                <h2>Mates</h2>
                            </header>
                            
                            {%for img in mateImages:%}
                                <div align="justify"><img src="static/{{img}}" height="150" width="150"><br>
                                <form action="viewprofile" method="POST" >
                                    <input type="submit" name="viewProfile" value="View Profile">
                                    <input type="hidden" name="profileID" value="{{mates[mateImages.index(img)]}}">
                                </form>
                                </div>
                            {%endfor%}
                            
                        </section>
                    </div>
                    <!-- Content -->

                    <div id="content" class="8u skel-cell-important">
                    <header><h2>Posts</h2></header>
                    <div class="container">
                        <section>
                          <div data-role="main" class="ui-content">
                            <form action="viewprofile" method="POST">
                                <input type="submit" name="myprofile" value="My Profile"><input type="hidden" name="rootID" value="{{rootid}}">
                            </form>
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Collapsible</button>
                            </ul>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    <!-- /Main -->
    </body>